---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Unity Based First Person Movement Shooter (ChromaKill)"
    link="https://mstoecker7.itch.io/chromakill"
    collaborator="Bungie"
    Team= "Mathias Stoecker, Eli Mcardle, Viktor Filipovich, Matt DeBoer, Ian Kercorian, \n Nikolas Galaitsis, Sean Marek, Marie Loop, Marshall Gaines, Leo Hoerdemann"

    images = {["ChromaKill/CK1.png","ChromaKill/CK2.png", "ChromaKill/CK3.png"]}
    videoUrl = "https://www.youtube.com/embed/oHapTqNjUq4"

    bulletPoints={[
        "Worked over four months on team of ten creating and implementing sound effects for a movement FPS in unity",
        "Met weekly with Bungie for feedback and review to see how to improve the game and our workflows during development",
    ]}
    description= {`
        <p>ChromaKill is a first person movement shooter where the player uses color powers to run faster and complete levels. Play as the Chromakeeper trying to restore color to a greyscale world, and approach each level with a new perspective by customizing your movement kit every attempt. </p>

        <p>The game was developed over the course of a semester as the final project for the game design and devlopment minor at Michigan State University. Work was done in the MI 497 class along solo work and weekly meetings. Weekly meetings where primarly used to get feedback and review on the game and our pracices with Bungie. 
        The meetings where also used to make sure everyone on the team shared the same vision and had the proper tasks based on group feedback.</p>

        <p>My role on the team was to create and implement sound effects for the game. I used Ableton to create and mix all of the sound effects for the game and implemented the sound effects using the standard unity audio system.</p>

        <p>Working on the game was a great experience into the processes, workflows, and mindset of a tripple A game studio. It was a great experience to work with Bungie and get feedback from them on our work. </p>

       `}
/>