---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Unity Based 2D Platformer and RPG (Deity Cell)"
    link="https://brava.games/"

    Team="Brava Games"

    BulletPoints={[
        "Working on a 2D platformer and RPG in Unity",
        "Creating and Implementing Audio for the game",
    ]}

    description={`
        <p>Deity Cell is a 2D platformer and RPG game that I am working on with Brava Games. The game is being built in Unity and has a full release planned. I am in charge of creating and implementing the audio for the game. This includes creating sound effects for the game, as well as the music. I am also working on the implementation of the audio using Wwise for unity. </p>
    `}

    inProgress={true}
/>