---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Full Stack Development with Unity and Twitch (Freak Show)"
    Team="Aidan Bieber, Bilal Saqib, Cherian Idicula, Chris Thorsen, Drew Zelenak, Tyberius Livingston, Jae Kittell \n Jack Warden, Keith Lerner, Nick Fraus, Luc Walz, Tyler Ziegenfelder, Mitch King, Leo Hoerdemann"

    bulletPoints={[
        "Created a full stack application that players to interact with a Twitch chat",
        "Created the web server in ASP.Net and the website in React",
        "Designed the systems to scale with the number of viewers seen on Twitch"
    ]}


    description={`
        <p>Freak Show is a game that was initially done by friends of mine for Michigan State University's MI 497 within the game minor. I joined later into production in order to bring the ideas of Twitch integration to life. A few ideas were shopped around on how this would work but as of right now the system uses Twitch's extension tools. A streamer can add the extension to their stream when playing and a small window will appear on the stream giving the chat the ability to vote on and influence what happens in game.</p>
        
        <p>For the project I was in charge of creating the web server and the website. The web server was made in ASP.Net and is used to manage all connections to prevent too much strain on the unity instance. The react app is used inside the twitch extension with buttons so users can vote and earn tokens to influence the game. The react app and the unity game each both make a websocket connection to the server. The server, hosted on Google cloud, can process all data sent over the connection and forward the new information to the correct location. It also has the ability to store data in Firestore as needed.</p>
        `}

    inProgress={true}
/>