---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title= "ChatGPT Powered Chat Bot"
    link= "https://github.com/leohoerdemann/ChatGPT-Discord-Bot"
    Team= "Leo Hoerdemann"

    images = {["LeoBot/LB1.jpg","LeoBot/LB2.jpg"]}

    bulletPoints={[
        "Created a Discord chat bot connected to the OpenAI API to use the latest model shared between many users at low cost",
        "Built using ASP.Net and hosted in Google Compute Engine via a docker container utilizing FireStore and secret manager"
    ]}

    description = {`
        <p>Using the OpenAI api I wanted to create a discord chat bot so my friends and I could use the higher end models of OpenAI such as GPT-4o without paying for the premium subscription.
        I noticed that the API cost where much lower than the subscription costs as well as being able to be shared across multiple users.</p>

        <p>Using ASP.Net I created a chat bot that would connect to the Discord websocket to handle messages sent pinging the bot as well as commands used to interact with the bot more in-depth. From there the messages that are using the bot are stored in Google Firestore
        to be used for chat history when using slash commands. The bot also has the ability when pinging it to see the past 20 messages in a channel, the server and channel name for context. </p>

        <p> The bot has support for GPT-4o with the user being able to select if they want to give the bot the previously mentioned context via the differnt commands. The bot also has the ability to be used in multiple servers at once with the bot being able to be added to any server that the user has the correct permissions to add a bot to. </p>

        <p> The bot is hosted on a Google Compute Engine instance running a docker container with the asp.Net C# code as well as a react front end to provide visualizations of the bot's usage. The bot also uses Google's secret manager to store the API key for the OpenAI API, Discord, API, and initial prompt. </p> 
    `}
/>