---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Personal Portfolio (It's This!)"
    link="https://github.com/leohoerdemann/Personal-Website/tree/master"
    Team="Leo Hoerdemann"

    bulletPoints={[
        "Created a personal portfolio website to showcase my projects and skills",
        "Built using Astro.JS in order to learn moden web development practices in a framework",
        "Designed the website to be a desktop environment in the style of windows 7 or switch to a linktree view on mobile"
    ]}

    description= {`
        <p>I wanted to learn modern web developement using a framework as well as needing a much better portfolio to showcase my previous work and skills. 
        I wanted it to have a more unique design that was still easy to understand. I landed on recreating the look and some of the basic functionality of Windows 7 desktop environment. </p>
        
        <p>The site is built using Astro.js based on some recomendations found online. I found it to be a great way to learn modern web development practices and to get a better understanding of how to build a website from the ground up. From that 7.css was also 
        used for some styling as well as used as refrence to create my own styling when needed. The site is hosted on Google Cloud Run within a docker container. This cloud run is connected to Google Cloud Build to automatically build the website after a bush on the master 
        branch.</p>

        <p>The website contains a desktop environment with icons that can be clicked on to open a window with more information about the project. The website also has a linktree view for mobile users to easily navigate the site. CLicking on icons and navigating the site you will find things such as 
        my resume, projects, tanscripts, and contact information, as well as other small features that I thought we be fun to include such as a playable version of the game breakout.</p>
          `}
/>