---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Unreal Engine 5 Based First Person Shooter (Project Mercury)"

    Team="Soren Gerlach, Ian Kercorian, Linjun Zhen, Lula Karakitsos, Madison Kiewski, Meredith Prevo, Adam Farkas, \n Emil Rahn-Siegel, Kyle Roleson, Cameron Otten, Charles Lamb, Maher Fawaz, Yanting Liu, Keith Lerner, Leo Hoerdemann"

    bulletPoints={[
        "Creating and implementing audio for a first person shooter",
        "Used as a way to learn Unreal Engine 5"
    ]}

    description= {`
        <p>Project Mercury is a game made in Unreal Engine 5 for MI 497 within the game development minor at Michigan State University. </P>
        <p>I joined the project in order to create and implement Audio for the game using Ableton and Unreal's built in audio Systems.  </p>
    `}

    inProgress={true}
/>