---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Unity Based VR Game (Shadows of Nyx)"
    link="https://planebound.itch.io/shadows-of-nyx"
    Team="Kyle Roleson, Bennet Barber, Madison Kiewski, Leo Hoerdemann, Strider Toll, Emil Rahn-Siegel, Charles Lamb"

    images={["Shadows/S1.jpg"]}

    bulletPoints={[
        "Created a VR game in Unity to be played via one headset and a computer",
        "Designed the game to be a Asymmetrical multiplayer",
        "Used as a way to learn unity shaders and VR development"
    ]}

    description={`
        <p>Shadows of Nyx was made during a 48 hour game jam. During this our team knew we wanted to make a VR game in order to both learn how to make one, and because we were all fans of the genre. The game is played by two people as a dektop vr game. One person is on the computer with another wearing the headset. The VR player has to collect gems from around the map in oder to win. At the same time the computer player has a top down view of the scene as can spawn in enemies in order to stop the vr player. Luckily the VR player is armed with a bow and arrow to try and combat this.</p>
        
        <p>For the game I primarily did two role. I designed the inital concepts and gameplay loop as well as made shaders for the game. I wanted to try implementing shaders I had seen online as a way to learn how they worked. I created the stars and the grass as seen in the picture to the right based on a youtube video explaining the same topics.</p>

        <p>Overall the game was a great learning experience for all of us. We learned how to make a VR game, how to work with asymmetrical multiplayer, and how to make shaders in unity.</p>
        `}
/>