---
import ProjectTemplate from "../ProjectTemplate.astro";
---

<ProjectTemplate
    title="Audio Design and Implementation (Spartasoft Studio)"
    link="https://spartasoftstudio.itch.io/"
    collaborator="Spartasoft Studio"
    Team= "Eric Stan Peek, Tyberius Livingston, Leo Hoerdemann, and many more"

    images = {["Studio/S1.jpg"]}

    bulletPoints={[
        "Created and implemented using Wwise, sounds for a variety of game projects over multiple semesters",
        "Worked on a team of roughly eighty on games that including 3D, 2D, platformers, party, and networked games"
    ]}

    description= {`
        <p> Spartasoft studio is a student run game development studio at Michigan State University. The studio is run by students and is a great way to get experience working on a team of a large size. The studio is run like a professional studio with a producer, project managers, and leads for each department. As well, an application and aproval is required to join a team.</p>
          
        <p> I was assigned to the audio team. Each semester we would work on a new game with the intention of releaseing it at the end. I worked on both creation and implementation of the aduio across the 2 years I was part of the team. For creation I utilzed ableton to record, synthesize, arrange, and mix the sounds. For the implementation, which was what I was primarily assigned to, I would focus on creating the Wwise calls inside unity.</p> 
        
        <p> The games I worked on where a variety of genres and styles. I worked on games that where 3D, 2D, platformers, party, and even networked games. This gave me experiance with a varity of designs and tools that where used across all of the games beyond just unity and wwise such as proton networking.</p>

        <p> Working on a project with a team of eighty was a great experience. It was a great way to learn how to work with and how to communicate with a large team.</p>
          `}
/>