---
import DesktopLayout from '../layouts/DesktopLayout.astro';
import MobileLayout from '../layouts/MobileLayout.astro';

const isMobile = false;
---

<head>
  <title>Leo Hoerdemann</title>
  <link rel="icon" href="PageIcon.svg" />
</head>


<DesktopLayout />