---
title: "About Me"
---

<div class = about>

<img src="profile.PNG" alt="Profile Picture" class="profile-picture" />

<p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt aliquet, mauris nunc lacinia mauris, id ultrices nunc nunc id lacus. Nulla facilisi. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.
        Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt aliquet, mauris nunc lacinia mauris, id ultrices nunc nunc id lacus. Nulla facilisi. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.
        Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, urna eu tincidunt aliquet, mauris nunc lacinia mauris, id ultrices nunc nunc id lacus. Nulla facilisi. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.
        Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc. Sed auctor, nunc id lacinia tincidunt, nisl nunc aliquam nunc, id lacinia neque nunc in nunc.

</p>
</div>

<style>
    .profile-picture {
        width: 10%;
        margin: 20px;
    }


    .about {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
</style>