<div class="container">
    <div class="left">
        <ul>
            <li><a href="https://github.com/leohoerdemann">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/l30-h/">LinkedIn</a></li>
            <li><a href="https://leohoerdemann.itch.io/">Itch.io</a></li>
            <li><a href="tel:3315514882">Phone</a></li>
            <li><a href="mailto:leo.h.trip@gmail.com">Email</a></li>
        </ul>
    </div>
    <div class="right">
        <h1>Leo Hoerdemann</h1>
    </div>
</div>

<style>
    .container {
        display: flex;
        height: 100%;
        align-items: center;
    }

    .left ul {
        list-style-type: none;
        padding: 0;
        padding-left: 20%;
    }

    .left ul li {
        margin-bottom: 10%;
    }

    .right h1 {
        padding-left: 20%;
        font-size: 200%;
        font-weight: bold;
    }
</style>