---
// Props for component
const { title = "New Window", Width = "12", x ,y} = Astro.props;

---

<div class="window glass draggable" style= {`width: ${Width}vw; left: ${x}px; top: ${y}px;`}>
    <div class="title-bar">
      <div class="title-bar-text">{ title }</div>
      <div class="title-bar-controls">
        <button aria-label="Minimize"></button>
        <button aria-label="Maximize"></button>
        <button aria-label="Close"></button>
      </div>
    </div>
    <div class="window-body">
        <slot />
    </div>
</div>


