---
import Chromakill from "./actual/chromakill.astro";
import Cse471 from "./actual/cse471.astro";
import Cse476 from "./actual/cse476.astro";
import Deitycell from "./actual/Deitycell.astro";
import Freakshow from "./actual/Freakshow.astro";
import Leobot from "./actual/Leobot.astro";
import ProjectMercury from "./actual/projectMercury.astro";
import RedditStock from "./actual/RedditStock.astro";
import Shadows from "./actual/shadows.astro";
import Studio from "./actual/studio.astro";
import UnityNN from "./actual/unityNN.astro";
import UWM from "./actual/UWM.astro";
import YoutubeDis from "./actual/youtubeDis.astro";
import Portfolio from "./actual/portfolio.astro";
---

<div class = "chromakill hidden">
  <Chromakill />
</div>

<div class = "cse471 hidden">
  <Cse471 />
</div>

<div class = "cse476 hidden">
  <Cse476 />
</div>

<div class = "deitycell hidden">
  <Deitycell />
</div>

<div class = "freakshow hidden">
  <Freakshow />
</div>

<div class = "leobot hidden">
  <Leobot />
</div>

<div class = "projectMercury hidden">
  <ProjectMercury />
</div>

<div class = "redditStock hidden">
  <RedditStock />
</div>

<div class = "shadows hidden">
  <Shadows />
</div>

<div class = "studio hidden">
  <Studio />
</div>

<div class = "unityNN hidden">
  <UnityNN />
</div>

<div class = "UWM">
  <UWM />
</div>

<div class = "youtubeDis hidden">
  <YoutubeDis />
</div>

<div class = "portfolio hidden">
  <Portfolio />
</div>

<style>
  .hidden {
    display: none;
  }
</style>