---
import DesktopIcon from '../components/DesktopIcon.astro';
import Window from '../components/Window.astro';
import Taskbar from '../components/Taskbar.astro';
import User from '../Content/User.astro';
import AboutMe from '../Content/AboutMe.astro';
---



<head>
    <title>Leo Hoerdemann</title>
    <link rel="icon" href="Icons/user.png" />
    <link rel="stylesheet" href="https://unpkg.com/7.css"/>
    <script src="../Scripts/WindowStates/Drag.js"></script>
    <script src= "../Scripts/WindowStates/open.js"></script>
    <script src="../Scripts/WindowStates/close.js"></script>
    <script src="../Scripts/WindowStates/resize.js"></script>
    <script src="../Scripts/WindowStates/active.js"></script>
    <script src="../Scripts/WindowStates/minimizeWindow.js"></script>
    <script src="../Scripts/WindowStates/maximizeWindow.js"></script>
</head>
<body>
  <div class="desktop">
    <!-- Desktop Icons -->
    <DesktopIcon 
      title="User" 
      icon="Icons/user.png" 
      windowId="User"
      y="0"
    />





    <!-- Windows -->
      <Window 
      title="User"
      x="10"
      y="10"
      icon="Icons/user.png"
      > 
        <User />
      </Window>

      <Window 
      title="About Me" 
      Width="50"
      Height="20"
      x="30"
      y="30"

      >
        <AboutMe />
      </Window>


    
  </div>
  <!-- Taskbar -->
  <Taskbar />
</body>

<style>
html{
    min-height: 100%;
    background-image: url('WallPaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
</style>