---
import DesktopIcon from '../components/DesktopIcon.astro';
import Window from '../components/Window.astro';
import Taskbar from '../components/Taskbar.astro';
import User from '../Content/User.astro';
import AboutMe from '../Content/AboutMe.astro';
---



<head>
    <link rel="stylesheet" href="https://unpkg.com/7.css"/>
    <script src="../Scripts/WindowStates/Drag.js"></script>
</head>
<body>
  <div class="desktop">
      <Window title="User"> 
        <User />
      </Window>

      <Window title="About Me" Width="50">
        <AboutMe />
        </Window>
      <Taskbar />
  </div>
</body>

<style>
  html{
    min-height: 100%;
    background-image: url('WallPaper.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
</style>