<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Leo Hoerdemann</title>
    <link rel="icon" href="PageIcon.svg" />
  </head>  
  <body>
    <main class="container">
      <div class="profile-section">
        <img src="profile2.jpg" alt="Profile Photo" class="profile-photo" />
        <h1 class="title">Leo Hoerdemann</h1>
      </div>

      <div class="links-section">
        <!-- My Info Button with SVG icon -->
        <a href="#"  class="link-btn" id="myInfoButton" onclick="openInfoPopup()">
          <img src="/linktree/id.svg" alt="Info Icon" class="icon" /> My Info
        </button>
        <!-- LinkedIn Button with SVG icon -->
        <a href="https://www.linkedin.com/in/l30-h/" class="link-btn" target="_blank">
          <img src="/linktree/linkedin.svg" alt="LinkedIn Icon" class="icon" /> LinkedIn
        </a>
        <!-- Resume Button with SVG icon -->
        <a href="pdfs/Leo Hoerdemann Resume 2024.pdf" class="link-btn" target="_blank">
          <img src="/linktree/news.svg" alt="Resume Icon" class="icon" /> Resume
        </a>
        <!-- GitHub Button with SVG icon -->
        <a href="https://github.com/leohoerdemann" class="link-btn" target="_blank">
          <img src="/linktree/github.svg" alt="GitHub Icon" class="icon" /> GitHub
        </a>
        <!-- Transcript Button with SVG icon -->
        <a href="pdfs/Leo Hoerdemann Transcript.pdf" class="link-btn" target="_blank">
          <img src="/linktree/license.svg" alt="Transcript Icon" class="icon" /> Transcript
        </a>
        <!-- Itch.io Button with SVG icon -->
        <a href="https://leohoerdemann.itch.io/" class="link-btn" target="_blank">
          <img src="/linktree/game.svg" alt="Itch.io Icon" class="icon" /> Itch.io
        </a>
        <!-- Sound Design Demo Reel Button with SVG icon -->
        <a href="https://www.youtube.com/watch?v=lesPT-p6k3I" class="link-btn" target="_blank">
          <img src="/linktree/speaker.svg" alt="Demo Reel Icon" class="icon" /> Sound Design Demo Reel
        </a>
      </div>
    </main>

    <!-- Info Popup Modal -->
    <div id="info-popup" class="popup">
      <div class="popup-content">
        <button onclick="closeInfoPopup()" class="close-btn">&times;</button>
        <h2>Leo Hoerdemann</h2>
        <h4>Computer Science Graduate MSU</h4>
        <p><a href="mailto:leo.h.trip@gmail.com">leo.h.trip@gmail.com </a> </p>
        <p><a href="tel:+13315514882"> (331) 551-4882 </a></p>
        <a href="vcard.vcf" download="leo_contact.vcf" class="download-btn">Save to Contacts</a>
        
      </div>
    </div>
    </body>
</html>

<script is:inline>
  function openInfoPopup() {
    console.log('Opening Info Popup');
    const infoPopup = document.getElementById('info-popup');
    if (infoPopup !== null) {
      infoPopup.style.display = 'flex';
    }
  }

  function closeInfoPopup() {
    const infoPopup = document.getElementById('info-popup');
    if (infoPopup !== null) {
      infoPopup.style.display = 'none';
    }
  }
  const infoPopup = document.getElementById('info-popup');
  window.addEventListener('click', function(event) {
        if (event.target === infoPopup) {
          infoPopup.style.display = 'none';
        }
      });
</script>

<style>
  /* General Styles */
body{
  background-color: #2a3235;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  text-align: center;
  width: 100%;
  margin-top: 30px;
  padding: 0 5px;
  box-sizing: border-box;
}

.profile-photo {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
  border: 2px solid white;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 20px;
}

/* Buttons Section */
.links-section {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 50px;
  width: 100%;
  align-items: center;
}

.link-btn {
  background-color: #fff;
  color: #2c2c2c;
  padding: 1.35rem;
  text-decoration: none;
  border-radius: 12px;
  font-size: calc(1.1rem + .5vw); /* Responsive font size */
  display: flex;
  align-items: center;
  justify-content: center; /* Keeps the text centered */
  width: 100%;
  max-width: 600px; /* Maximum width */
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}

.link-btn .icon {
  margin-right: 10px;
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 10px; /* Align icon to the far left */
}

.link-btn:hover {
  background-color: #f0f0f0;
}

/* Popup Styles */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  color: #2c2c2c;
  position: relative;
  max-width: 90%;
  box-sizing: border-box;
}

.download-btn {
  background-color: #777;
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
}

.download-btn:hover {
  background-color: #555;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #2c2c2c;
}

.close-btn:hover {
  color: #000;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .link-btn {
    max-width: 100%; /* Full width on mobile */
  }
}
</style>